@charset "UTF-8";

body {
  background: rgb(5, 174, 231);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 2px 2px 5px black;
}

img#foto {
  padding: 10px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}